<div class="container">
    <mat-card>
        <mat-card-content>
            <form action="">
                <mat-form-field class="full-field">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
                <mat-form-field class="full-field">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Age</mat-label>
                    <input type="number" matInput>
                </mat-form-field>
                <p>
                    <button mat-raised-button color="primary">
                        Save
                        <mat-icon>save</mat-icon>
                    </button>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>
