@media screen and (max-width: 992px) {
    .container {
        max-width: 800px;
    }    
}

.container {
    max-width: 800px;
    padding-top: 10px;
}

.container-scrollable {
    margin-top: 15px;
    overflow-y: scroll;
    height: 300px;
}

.container-scrollable::-webkit-scrollbar {
    display: none;
}

mat-card-content {
    display: flex;
    flex-direction: column;
}

.data-container {
    display: flex;
    flex-direction: row;
}

.data-container mat-form-field {
    flex-basis: 50%;
}

.audit-card {
    margin-bottom: 10px;

    mat-card-content {
        padding: 0px 24px;
    }

    .audit-card-content {
        display: flex;
        flex-direction: row;
        flex-basis: 0;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;

        span {
            width: 100%;
        }
    }
}

.form-description {
    width: 100%;
}