<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="#">AudIt</a>
    <!-- Menu hamburguesa -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Opciones de Menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/audit">Audit</a>
        </li>
        <!-- <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/audits">Audits</a>
        </li> -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/auditor">Auditor</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/auditor/experience">Auditor Experience</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/puc/edit">PUC</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="logOut()">Sign Out</button>
      </form>
    </div>
  </nav>