<section class="editor-container">
    <div mat-dialog-content class="editor-content">
        <quill-editor #editor [(ngModel)]="itemReport.itemContent" *ngIf="!isViewMode"></quill-editor>
        <quill-view [content]="itemReport.itemContent" *ngIf="isViewMode"></quill-view>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="saveData()" *ngIf="!isViewMode">Save</button>
        <button mat-raised-button (click)="isViewMode = true" *ngIf="!isViewMode">View</button>
        <button mat-raised-button (click)="isViewMode = false" *ngIf="isViewMode">Edit</button>
        <button mat-raised-button (click)="exportPDF()">PDF</button>
        <button mat-raised-button mat-dialog-close>Close</button>
    </div>
</section>