@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }    

    .mat-card-container {
      flex-basis: 95%;
    }
  }
  
  .container {
    max-width: 800px;
    padding-top: 10px;
  }
  
  .container-scrollable {
    max-height: 300px;
    overflow-y: scroll;
  }
  
  .container-scrollable::-webkit-scrollbar {
    display: none;
  }
  
  .mat-accordion-container .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .mat-card-container {
    margin: 5px;
    flex-basis: 45%;
  }

  .responsive-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }