@media screen and (max-width: 992px) {
    .container {
        max-width: 600px;
    }    
}

.container {
    max-width: 600px;
    padding-top: 50px;
}

.container-scrollable {
    overflow-y: scroll;
    height: 300px;
}

.container-scrollable::-webkit-scrollbar {
    display: none;
}

mat-card-content {
    display: flex;
    flex-direction: column;
}

.data-container {
    display: flex;
    flex-direction: row;
}

.data-container mat-form-field {
    flex-basis: 50%;

}