@media screen and (max-width: 992px) {
    .container {
        max-width: 600px;
    }    
}

mat-form-field {
    width: 100%;
}

.container {
    max-width: 800px;
    padding-top: 50px;
}

.container-scrollable {
    overflow-y: scroll;
    height: 100%;
}

.container-scrollable::-webkit-scrollbar {
    display: none;
}

.mat-accordion-container .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.full-field {
    width: 100%;
}

.centered-button {
    margin: auto;
}

.fab-button-edit {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.audit-card {
    margin-bottom: 10px;
}

.audit-card mat-card-content {
    padding: 0px 24px;
}

.audit-card-content {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

