@import '../../../mixins.scss';

mat-form-field {
    width: 100%;
}

mat-expansion-panel em {
    @include text-description();
}

.audit-information-card {
    margin-bottom: 25px;
}

.button-proximity {
    margin-right: 5px;
}

.files-list {
    margin-top: 10px;
    mat-list-item {
        mat-icon {
            font-size: 18px !important;
        }
        
        a {
            font-size: 16px !important;
        }

        height: 25px !important;
    }
}