.container {
    max-width: 800px;
    padding-top: 10px;
}

.full-field {
    width: 100%;
}

.container-scrollable {
    margin-top: 15px;
    overflow-y: scroll;
    height: 300px;
}

.audit-card {
    margin-bottom: 10px;

    mat-card-content {
        padding: 0px 24px;
    }

    .audit-card-content {
        display: flex;
        flex-direction: row;
        flex-basis: 0;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;

        span {
            width: 100%;
        }
    }
}

.container-scrollable::-webkit-scrollbar {
    display: none;
}