<div class="container">
    <mat-card>
        <mat-card-content>
            <form action="">
                <mat-form-field class="full-field">
                    <mat-label>Name</mat-label>
                    <input type="text" name="auditorName" matInput [(ngModel)]="newAuditor.name">
                </mat-form-field>
                <mat-form-field class="full-field">
                    <mat-label>Last Name</mat-label>
                    <input type="text" name="auditorLastName" matInput [(ngModel)]="newAuditor.lastName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Age</mat-label>
                    <input type="number" name="auditorAge" matInput [(ngModel)]="newAuditor.age">
                </mat-form-field>
                <p>
                    <button mat-raised-button color="primary" (click)="addAuditor()">
                        <mat-icon>save</mat-icon>
                        Save
                    </button>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
    <section>
        <div class="container-scrollable">
            <mat-list>
                <mat-list-item *ngFor="let auditor of auditors$ | async">
                    <div matListItemTitle>{{auditor.name}} {{auditor.lastName}}</div>
                    <div matListItemMeta>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Show menu options">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </section>
</div>
