<app-navbar></app-navbar>
<div class="container">
    <app-page-description
        title="Auditor"
        subtitle="Cree, actualice y elimine auditores"
    ></app-page-description>
    <section class="actions-row">
        <button mat-raised-button color="primary" (click)="createAuditor()">
            <mat-icon>add</mat-icon>
            Nuevo auditor
        </button>
    </section>
    <section class="list-section">
        <div class="container-scrollable">
            <mat-card *ngFor="let auditor of auditors$ | async" class="audit-card">
                <mat-card-content>
                    <div class="audit-card-content">
                        <span>{{auditor.name}} {{auditor.lastName}}</span>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Show menu options">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editAuditor(auditor)">
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="deleteAuditor(auditor)">
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </section>
</div>
