.container {
    max-width: 800px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 84px);
}

.full-field {
    width: 100%;
}

.actions-row {
    display: flex;
    justify-content: flex-end;
    margin: 16px 0;
}

.list-section {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.container-scrollable {
    flex: 1;
    min-height: 0;
    overflow-y: scroll;
}

.audit-card {
    margin-bottom: 10px;

    mat-card-content {
        padding: 0px 24px;
    }

    .audit-card-content {
        display: flex;
        flex-direction: row;
        flex-basis: 0;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;

        span {
            width: 100%;
        }
    }
}

.container-scrollable::-webkit-scrollbar {
    display: none;
}